<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="/vendor/front/bootstrap.min.css")
	link(rel="stylesheet", href="/css/all.min.css")
	link(rel="stylesheet", href="/vendor/front/slick.css")
	script(src="/vendor/front/jquery.min.js")
	script(src="/vendor/front/slick.min.js")
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1.0, shrink-to-fit=no"/>
body
	.header-wrapper
		.container
			header
				.logo
					a(href="/")
						img(src="/img/logo.png", alt="Логотип studen")
				.header-menu
					{{ menu('Верхнее меню') }}
					.visible-xs
						.burger-wrap
							.page-burger
				.header-menu-xs
					{{ menu('Верхнее меню') }}
	main
		block content
	footer.container
		.col-lg-6.col-sm-8.left-part
			.phrase
				| <b>Студень - </b>только вкусная информация
			.footer-menu
				{{ menu('Меню в подвале') }}
		.col-lg-6.col-sm-4.right-part
			.social-icons
				- $insta_link = setting('site.insta_link')
				a(href=$insta_link)
					img(src="/img/insta.png", alt="Наш инстаграм")
				- $telega_link = setting('site.telega_link')
				a(href=$telega_link)
					img(src="/img/telega.png", alt="Наш телеграм")
				- $twitter_link = setting('site.twitter_link')
				a(href=$twitter_link)
					img(src="/img/twitter.png", alt="Наш твиттер")
				- $vk_link = setting('site.vk_link')
				a(href=$vk_link)
					img(src="/img/vk.png", alt="Наш Вконтакте")
	script(src="/vendor/front/bootstrap.min.js")
	script(src="/js/all.min.js")