font_generate(font_folder, font_name, font_family, font_weight = 'normal', font_style = 'normal') {
	prefix = "/fonts/" + font_folder + '/' + font_name

	@font-face {
		font-family font_family
		src url(prefix + '.otf') format('opentype')
		font-weight font_weight
		font-style font_style
	}
}
// Font folder, font name in folder, font family name

font_generate('gilroy', 'Gilroy-Extrabold', 'gilroy', 900)
font_generate('gilroy', 'Gilroy-Light', 'gilroy', 300)
