footer
	background-color black
	.left-part
		text-align center
		padding 25px
		.phrase
			line-height 30px
			font-size 28px
			color white
			padding-bottom 10px
			border-bottom 1px solid white
		.footer-menu
			padding-top 10px
			ul
				padding 0px
				margin 0px
				li 
					display inline-block
					vertical-align middle
					margin-right 10px
					font-size 17px
					a 
						color white
	.right-part
		text-align center
		.social-icons
			width 100px
			margin 25px
			float right
			text-align right
			@media xs
				width 100%	
				margin 10px 0px 
				text-align center
			a
				img 
					width 40px
					padding 5px