header
	background-color black
	padding 10px 0 
	vertical-align middle
	box-shadow box_shadow
	.logo
		display inline-block
		vertical-align middle
		padding 0px 10px 
		border-right 1px solid white
		@media xs
			border-right none
		img
			width 40px
			height 40px
	.header-menu
		padding-left 5px
		display inline-block
		vertical-align middle
		ul
			padding 0 
			margin 0
			@media xs
				display none
			li
				font-size 16px
				padding 0px 5px 
				display inline-block
				a 
					font-wieght 400
					color white
		.burger-wrap
			position fixed
			width 30px
			height 30px
			z-index 100
			right 15px
			top 12px
			cursor pointer
			transition all 0.3s ease
			&-active
				right 15px
				left auto
				top 20px
				.page-burger
					height 0px
					&:before
						transform rotate(45deg)
						top -8px
					&:after
						bottom 3px
						transform rotate(-45deg)
		&-xs
			display none
			ul 
				text-align center
				padding-left 0
				li
					padding 15px
					a
						color white
						font-size 20px
		.page-burger
			position absolute
			top 50%
			transform translateY(-50%)
			height 4px
			background-color white
			left 0
			right 0
			transition all 0.3s ease
			&:before
				content ''
				position absolute
				top -10px
				height 4px
				left 0
				right 0
				transition all 0.3s ease
				background-color white
			&:after
				content ''
				position absolute
				bottom -10px
				height 4px
				left 0
				right 0
				transition all 0.3s ease
				background-color white
.header-wrapper
	position fixed
	z-index 1
	top 0
	width 100%