.main-banner
	min-height 550px
	background-size cover
	background-position center
	color white
	text-shadow text_shadow
	&-info
		text-align center
		text-transform uppercase
		font-weight 300
		font-size 14px
		line-height 14px
		padding 15px
	&-title
		line-height 41px
		text-align center
		text-transform uppercase
		font-size 65px
		font-weight 900
	&-inner
		margin 0 auto
		margin-top 30px
		@media lg
			width 680px
		@media md
			width 680px
		@media sm
			padding-bottom 20px
		@media xs 
			padding-bottom 10px
	&-short-menu
		@media xs
			text-align center
		.short-menu-item
			display inline-block
			padding: 0px 73px;
			text-align center
			color white
			text-decoration none
			@media xs
				margin 11px
				padding 0
			&-wrapper
				width 80px
				height 80px
				border-radius 50%
				background-color white
				box-shadow box_shadow
				@media xs
					margin 10px auto
				img 
					margin 5px
					width 70px
					height 70px
					border-radius 50%
					border 1px solid #ef484a
			&-text
				font-size 14px
				margin-top 5px
	&-description
		margin-top 25px
		padding 25px
		border 5px solid white
		border-radius 5px
		text-align center
		box-shadow inset 0px 0px 8px 2px rgba(46,46,46,0.58)
		@media xs 
			margin 10px
		@media sm
			margin 20px
		.description-title
			font-size 24px
			font-weight bold
		.description-text
			font-size 16px
			font-weight 300
			margin-top 25px 
		.description-button
			margin-top 25px
			hr
				width 232px
				display inline-block
				vertical-align middle
			.link-wrapper
				width 155px
				display inline-block
				vertical-align middle
				a
					font-size 16px
					background-color: white;
					padding: 5px 20px;
					color: black;
					text-shadow: none;
					font-weight bold
					border-radius 3px
					box-shadow box_shadow
.main-lifehacks
	.arrow-prev, .arrow-next
		width 40px
		height 80px
		position absolute
		top 120px
		background-position center
		background-repeat no-repeat
		background-size contain
		cursor pointer
		@media xs
			display none
		@media sm
			display none
	.arrow-prev
		background-image url('/img/chevron-left.png')
		@media lg
			left 40px 
		@media md 
			left 0px
	.arrow-next
		@media lg
			right 40px
		@media md
			right 0px
		background-image url('/img/chevron-right.png')
	.lifehacks-head
		&-title
			@media lg
				height 170px
			@media md
				height 140px
			@media sm
				width 500px
				height 160px
				margin 0 auto
				text-align center
			@media xs
				width 320px
				height 100px
				margin 0 auto
				text-align center
			background-image url('/img/lifehack-bg.png')
			background-size cover
			h2
				color white
				font-weight bold
				font-size 50px
				margin-left 85px
				margin-top 60px
				display inline-block
				text-shadow text_shadow
				@media sm
					margin-left 0
				@media xs 
					margin-top 20px
					margin-left 0
		.hocku
			margin-top 20px
			text-align center
			line-height 26px
			@media sm
				margin-bottom 20px
			&-title
				font-size 26px
				font-weight bold
			&-text
				margin-top 5px
				font-size 22px
				font-weight 300
	.lifehacks-slider
		&-wrapper
			@media lg
				margin 40px 100px
			@media md
				margin 40px
			@media sm
				margin-bottom 20px
			@media xs
				margin 0 auto 
			overflow hidden
		&-item
			display inline-block
			width 250px
			height 250px
			@media lg
				margin 0 30px
			@media md
				margin 0 18px
			@media sm
				width 240px
				height 240px
			@media xs
				display block
				margin 20px auto
			background-size cover
			background-repeat no-repeat
			background-position center
			position relative
			box-shadow box_shadow
			&-title
				color white
				text-shadow text_shadow 
				position absolute
				left 20px
				bottom 20px
				font-weight bold
				font-size 24px
.main-dijests
	background-image url('/img/black-sand.jpg')
	background-size cover
	background-position center
	padding 12px
	&-title
		color white
		font-size 50px
		font-weight bold
		text-align center
	.dijest-item
		background-size cover
		background-position center
		height 340px
		position relative
		margin 12px
		background-color orange
		display block
		&-title 
			text-align: center;
			text-shadow: -2px 0px 1px #000;
			font-size: 22px;
			margin: 0 auto;
			color: white;
			font-weight: bold;
			&-wrapper
				position: absolute;
				bottom: 10px;
				left 0px
				width 280px
				left: 50%;
				transform: translateX(-50%);
		&-big
			.dijest-item-title
				font-size: 30px;
				&-wrapper
					width 330px
		&-number
			font-size 150px
			text-shadow text_shadow
			color white
			text-align center
.main-stories
	text-align center
	line-height 26px
	margin-top 20px
	&-phrase
		width 470px
		margin 0 auto
		margin-top 20px
		@media xs
			width 320px		
	&-title
		font-size 26px
		font-weight bold
	&-description
		margin-top 5px
		font-size 18px
		line-height 18px
		font-weight 300
	&-big-title
		background-image url('/img/paint-brush-stroke-2.png')
		background-size cover
		height 215px
		width 470px
		position relative
		@media sm
			margin 10px auto
		@media xs
			height 140px
			width 320px
			margin 10px auto
		h2
			position absolute
			top 20px
			font-size 50px
			font-weight bold
			color white
			text-shadow text_shadow
			@media xs
				font-size 40px
				top 10px
.stories-list
	margin 10px 30px
	@media xs 
		margin 0px
	.story-item
		display inline-block
		width 320px
		height 320px
		background-position center
		background-size cover
		margin 10px
		border-radius 30px
		position relative
		@media xs 
			width 300px
			height 300px
		&-title
			position absolute
			left 50%
			transform translate(-50%, -50%)
			top 50%
			color white
			font-size 28px
			font-weight bold
			text-shadow text_shadow
.video-wrapper
	background-image url('/img/paper-bg.jpg')
	.video-title
		font-size 40px
		color white
		font-size 50px
		font-weight bold
		text-align center		
		text-shadow text_shadow
	.video
		padding 0px 20px 20px 20px
		text-align center
		iframe 
			width 100%
			height 550px
