.post, page
	img 
		max-width 100% !important
		height auto !important
	@media lg
		padding 20px 50px
	@media md
		padding 20px 50px
	padding 20px
	&-title
		font-weight bold
		text-align center
	&-body
		margin-top 10px
		font-size 16px