@import '_fonts'
@import '_config'
@import '_header'
@import '_main'
@import '_post'
@import '_post_list'
@import '_footer'
	
body 
	position relative
	overflow-x hidden
	color black
	font-size 10px
	font-family standard_font
main
	margin-top 60px
